/*Custom CSS*/

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif
}
.w3-bar-block .w3-bar-item {
    padding:20px
}

.logout-button{
    position: absolute;
    right: 0;
    text-align: right;
}

.dragon-drinks-title{
    font-weight: bold;
}
.drinkImage {
    /* max-width: 80%; */
    float: left;
    width:  300px;
    height: 150px;
    object-fit: contain;
}

.w3-container {
    color: #483434;
    font-family: "Karma", sans-serif;
}

.drinkCards {
    margin: 0, auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.card-column {
    border: solid 3px #6B4F4F;
    transition: border-width 0.2s linear;
}

.card-column:hover { border-width: 5px; }

a:hover{
    color: lightgrey;
}
