{% extends 'base.html' %}
{% set active = "cart" %}

{% block header %}
<script src="/static/js/cartView.js"></script>
{% endblock %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">View Cart Items</h1>
		
		<ul id="cartList" class="w3-ul w3-card">
			<script>

				$(() => {
					const drinkView = new loadCart();
					drinkView.load();
				});
			
			</script>
		</ul>
        <!-- <p class="lead text-muted">View past orders here!</p> -->
    </div>
</section>

{% endblock %}