<!DOCTYPE html>

<html>

    <head>
        <title>Login</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <link rel="stylesheet" href="/static/css/base.css">

        <script src="/static/lib/jquery/jquery.min.js"></script>
        <script src="/static/lib/popper/popper.min.js"></script>
    </head>

    <body>
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            <div class="text-center">
                <h1 class="jumbotron-heading">Welcome</h1>
                <p class="lead text-muted">Please login below</p>
            </div>
            <div class="login">
                <p>Enter your user name: </p> <!--TODO-->
                <p>Enter your password: </p> <!--TODO-->
                <a href="/" class="btn btn-secondary my-2 mr-2">Submit</a> <!--TODO-->
            </div>
            <a href="/createNewUser" class="btn btn-secondary my-2 mr-2">Create a new account</a>
        </div>
    </body>
</html>