{% extends 'base.html' %}
{% set active = "order" %}

{% block header %}
<script src="/static/js/drinkView.js"></script>
{% endblock %}

{% block title %}
Order
{% endblock %}

{% block content %}
<div class="w3-container">
    <div class="w3-padding-32 w3-center">
        {% if session %}
        <h1>Hi {{ session.userinfo.name }}, place your order below:</h1>
        <a href="/cart" class="w3-button w3-light-grey">View Cart</a>
        <br>
        {% else %}
        <!-- Show link to login button -->
        <h1>Place an order</h1><br>
        <h2>To place an order please <a href="/login" >Login</a>.</h2>
        {% endif %}
    </div>


    <div id="drinktable" class="container">
        <script>

            $(() => {
                const drinkView = new DrinkView(10);
                drinkView.load();
            });
        
        </script>

    </div>

</div>

{% endblock %}