{% extends 'base.html' %}
{% set active = "orderHistory" %}

{% block title %}
orderHistory
{% endblock %}

{% block content %}

<div class="w3-container">
    <div class="w3-padding-32 w3-center">
        <!-- User is logged in  -->
        {% if session %}
        <h1>View Order Histroy</h1>
        <a href="/order" class="w3-button w3-light-grey">Return to place an order</a>
        <br>

        <div id="pastOrdersList" class="container">
            <script>
    
                $(() => {
                    const orderHistoryView = new OrderHistoryView(10);
                    orderHistoryView.load();
                });
            
            </script>
    
        </div>
        <!-- User is logged out  -->
        {% else %}
        <h1>View Order Histroy</h1><br>
        <h2>To view past orders please <a href="/login" >Login</a>.</h2>
        {% endif %}
    </div>




</div>

{% endblock %}